.CrewContainer {
    background-image: url(../../img/crew/background-crew-desktop.jpg);
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-size: cover;
    top: 0;
    right: 0;
    z-index: -1;
}

.contentContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    color: white;
}

.CrewDescription {
    display: flex;
    flex-direction: column;
    width: 30em;
    position: absolute;
    left: 7em;
    top: 8em;
}

.CrewContainer div h1:first-child {
    font-weight: lighter;
    margin-bottom: 2em;
}

.CrewContainer div h1 span {
    color: grey;
}

.CrewBio h3{
    font-size: 2em;
    margin: 0;
}

.CrewBio h1 {
    font-weight: lighter;
    font-size: 3em;
    margin: .5em 0;

}
.CrewBio p {
    padding-bottom: 2em;
    margin: 0;
    position: absolute;
}

.buttonContainer {
    display: flex;
    gap: .5em;
    position: absolute;
    top: 25em;
}

.buttonContainer .ButtonSelect {
    background-color: white;
}

.buttonContainer button {
    background-color: grey;
    border-radius: 100%;
    border: none;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;;
    transition: 1s;
}

.imageContainer {
    bottom: 0;
}
.imageContainer img{
    height: 35em;
    position: absolute;
    bottom: 0;
    right: 5em;
}

@media screen and (max-width: 1025px) {
    .CrewDescription {
        left: 5em;
        width: 28em;
        font-size: .8em;
        top: 12em;
    }
    .imageContainer img{
        height: 25em;
        right: 0;
    }
    .buttonContainer {
        bottom: 0;
    }
  }

@media screen and (max-width: 770px) {
    .CrewContainer {
        background-image: url("../../img/crew/background-crew-tablet.jpg");
        object-fit: cover;
        width: 100%;
        height: auto;
    }
    .CrewDescription {
        top: 10em;
    }
  }

  @media screen and (max-width: 430px) {
    .contentContainer {
        display: flex;
        flex-direction: column;
        gap: 10em;
        height: 52em;
        justify-content: center;
    }
    .CrewDescription {
        align-items: center;
        justify-content: center;
        left: auto;
    }
    .CrewBio {
       text-align: center;
       width: 100%;
    }
    .buttonContainer {
        gap: 2em;
    }
    .buttonContainer button {
        height: 3em;
        width: 3em;
    }

    .imageContainer img{
        height: 20em;
        right: 4em;
    }
  }

@media screen and (max-width: 380px) {
    .CrewDescription {
        font-size: .7em;
        top: 12em;
    }
}

@media screen and (max-width: 325px) {
    .CrewDescription {
        font-size: .8em;
        width: 22em;
        height: 41em;
        top: 0;
    }

    .CrewBio h3 {
        font-size: 1.5em;
    }
    .CrewBio h1 {
        font-size: 2.5em;
    }

    .buttonContainer {
        top: 38.5em;
    }

    .buttonContainer button {
        height: 2em;
        width: 2em;
    }

    .imageContainer img{
        height: 16em;
        right: 2.5em;
    }
}