@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}


.App {
  display: flex;
  flex-direction: column;
}


.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.imgContent {
  margin: 1.5em 1.5em;
  justify-self: flex-start;
}

.buttonHamburguer {
  z-index: -999;
  opacity: 0;
  top: 2em;
}

.linkContainer {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  height: 5em;
  backdrop-filter: blur(180px);
  margin-top: .5em;
  padding-right: 10em;
}
.linkContainer a{
  margin: 0 1.5em;
  text-decoration: none;
  color: white;
}

.Containter {
  top: 30px;
}

.HamburguerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #032655f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  z-index: 4;
}
.HamburguerMenu a{
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: .5em 20em;
}

@media screen and (max-width: 880px) {
  .linkContainer {
    padding-right: 0;
  }
  .linkContainer a{
    margin: 0 .8em;

  }
}

@media screen and (max-width: 550px) {
  .linkContainer {
    width: 22em;
  }
  .linkContainer a{
    font-size: .7em;
  }
}

@media screen and (max-width: 470px) {
  .buttonHamburguer {
    position: absolute;
    right: 0;
    opacity: 1;
    z-index: 5;
    background: transparent;
    border: none;
    right: 2em;
  }

  .linkContainer {
    z-index: -1;
    opacity: 1;
    background: none;
  }
  .Selected {
    border: 0;
  }
  .linkContainer a{
    margin: 0;
  }
}

