@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;

}


.App {
  display: flex;
  flex-direction: column;
}


.navbar {
  display: flex;
  justify-content: space-between;
}

.imgContent {
  margin: 1.5em 1.5em;
}

.buttonHamburguer {
  z-index: -999;
  opacity: 0;
  top: 2em;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  backdrop-filter: blur(180px);
  margin-top: .5em;
  padding-right: 10em;
}
.linkContainer a{
  margin: 0 1.5em;
  text-decoration: none;
  color: white;
  
}

.Selected {
  border-bottom: 5px solid white;
  padding-bottom: 1.5em;
  position: relative;
  top: 1em;
  
}

.Containter {
  top: 30px;
}

@media screen and (max-width: 880px) {
  .linkContainer {
    padding-right: 0;
  }
  .linkContainer a{
    margin: 0 .8em;

  }
}

@media screen and (max-width: 550px) {
  .linkContainer {
    width: 100vw;
  }
  .linkContainer a{
    font-size: .8em;
  }
}

@media screen and (max-width: 470px) {
  .linkContainer a{
    font-size: .5em;
  }
}

@media screen and (max-width: 350px) {
  .buttonHamburguer {
    position: absolute;
    right: 0;
    opacity: 1;
    z-index: 1;
    background: transparent;
    border: none;
    right: 2em;
  }
  .linkContainer {
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    opacity: 0;

  }
  .Selected {
    border: 0;
  }
  .linkContainer a{
    font-size: .8em;
  }
}

